.box-tags{}

.box-tags-area{
	display:flex;
	flex-wrap:wrap;
}

.box-tags-cards{
	width:calc(120px + (448.5 - 120) * ((100vw - 240px) / (897 - 240)));
	height:calc(71.9667px + (269 - 71.9667) * ((100vw - 240px) / (897 - 240)));
	overflow:hidden;
}

.box-tags-cards div{
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	background-size:cover;
}

.box-tags-cards:nth-child(1) div{
	background-image:url('https://images-prod.dazeddigital.com/600/azure/dazed-prod/1330/3/1333522.jpg');
}

.box-tags-cards:nth-child(2) div{
	background-image:url('https://images-prod.dazeddigital.com/600/azure/dazed-prod/1330/3/1333515.jpg');
}

.box-tags-cards:nth-child(3) div{
	background-image:url('https://images-prod.dazeddigital.com/600/azure/dazed-prod/1330/3/1333521.jpg');
}

.box-tags-cards:nth-child(4) div{
	background-image:url('https://images-prod.dazeddigital.com/600/azure/dazed-prod/1330/3/1333519.jpg');
}

.box-tags-cards:nth-child(5) div{
	background-image:url('https://images-prod.dazeddigital.com/600/azure/dazed-prod/1330/3/1333518.jpg');
}

.box-tags-cards:nth-child(6) div{
	background-image:url('https://images-prod.dazeddigital.com/600/azure/dazed-prod/1250/3/1253393.jpg');
}

.box-tags-cards:nth-child(7) div{
	background-image:url('https://images-prod.dazeddigital.com/600/azure/dazed-prod/1330/3/1333520.jpg');
}

.box-tags-cards:nth-child(8) div{
	background-image:url('https://images-prod.dazeddigital.com/600/azure/dazed-prod/1330/3/1333513.jpg');
}

.box-tags-cards div::after{
	content:'';
	width:calc(120px + (448.5 - 120) * ((100vw - 240px) / (897 - 240)));
	height:calc(71.9667px + (269 - 71.9667) * ((100vw - 240px) / (897 - 240)));
	position:absolute;
	background-image: linear-gradient(0deg, rgba(0,0,0,0.2) 25%, rgba(122, 121, 121,0.2) 25%, rgba(122, 121, 121,0.2) 50%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.2) 75%, rgba(122, 121, 121,0.2) 75%, rgba(122, 121, 121,0.2) 100%);
	background-size: 8.00px 8.00px;
	z-index:1;
}

.box-tags-cards h2{
	font-family:BarlowCondensed-Bold;
	font-size:26px;
	line-height:31px;
	text-align:center;
	word-break:break-word;
	z-index:2;
}

.box-tags-cards h2 span{
	background:black;
}

@media(min-width:898px){
	.box-tags-cards{
		width:calc(224.5px + (349.75 - 224.5) * ((100vw - 898px) / (1399 - 898)));
		height:calc(224.5px + (349.75 - 224.5) * ((100vw - 898px) / (1399 - 898)));
	}

	.box-tags-cards div::after{
		width:calc(224.5px + (349.75 - 224.5) * ((100vw - 898px) / (1399 - 898)));
		height:calc(224.5px + (349.75 - 224.5) * ((100vw - 898px) / (1399 - 898)));
	}
}