/*----- Contato -----*/
.contato-container{
    margin-bottom:104px;
}

.contato{
    max-width:420px;
    padding:0 15px;
    margin:0 auto;
    transition:0.3s
}

.contato h1{
    font-family:BarlowCondensed-Bold;
    font-size:62px;
    margin-top:84px;
    word-break:break-word;
}

.contato h2{
    display:flex;
    flex-direction:column;
    font-family:BarlowCondensed-Bold;
    font-size:40px;
    margin-top:222px
}

.contato h2::after{
    content:'';
    width:66px;
    height:4px;
    background:#f568bb;
    margin-top:27px
}

.contato p{
    font-family:OpenSans-Regular;
    font-size:18px;
    line-height:38px;
    margin-top:22px
}

.contato p a{
    text-decoration:underline;
    text-decoration-color:#bdff00;
    word-break:break-word;
}

.contato-formulario{
    max-width:420px;
    display:flex;
    flex-direction:column;
    grid-row-gap:10px;
    padding:0 15px;
    margin:0 auto;
    margin-top:14px;
}

.contato-formulario input{
    width:100%;
    height:50px;
    border-radius:6px;
    background:#fff0;
    border:2px solid #d4c5fe;
    color:#fff;
    padding:0 15px;
    font-family:VCR;
    font-size:13px;
}

.contato-formulario textarea{
    border-radius:6px;
    height:230px;
    background:#fff0;
    border:2px solid #d4c5fe;
    color:#fff;
    padding:15px;
    font-family:VCR;
    font-size:12px
}

.contato-formulario input:last-child{
    width:140px;
    height:50px;
    background:#d4c5fe;
    text-shadow: 1px 1px 0px #fd59fd, -1px 0px 0px #03d904, 2px 2px #dcef00;
    animation:ButtomAnimation 8s infinite;
    color:black;
    font-size:14px;
    font-weight:bold;
    letter-spacing:2px;
}

.contato-formulario input:focus,
.contato-formulario textarea:focus{
    outline:none
}

@media(min-width:680px){
    .contato,
    .contato-formulario{
        max-width:600px;
        padding:0
    }
}

@media(min-width:992px){
    .contato-container{
        display:flex;
        justify-content:center;
    }

    .contato,
    .contato-formulario{
        max-width:400px;
        min-width:400px
    }

    .contato{
        margin:0
    }

    .contato-formulario{
        margin:0;
        margin-top:383px
    }

    .contato-formulario *{
        max-width:345px
    }
}

@media(min-width:1025px){
    .contato,
    .contato-formulario{
        max-width:490px;
        min-width:490px
    }

    .contato-formulario *{
        max-width:427px
    }
}

@media(min-width:1200px){
    .contato,
    .contato-formulario{
        max-width:565px;
        min-width:565px
    }

    .contato-formulario *{
        max-width:495px
    }
}