.faq-main {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 95%, rgba(255, 255, 255, 0) 95%);
}

.faq-area {
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
    padding-top: 108px;
}

.faq-area h1 {
    font-family: BarlowCondensed-Bold;
    font-size: 56.97px;
    text-align: center;
    word-wrap: break-word;
}

.faq-descricao {
    max-width: 672px;
    font-family: OpenSans-Regular;
    font-size: 18px;
    line-height: 31px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 55px;
}

.faq-descricao span {
    text-decoration: underline;
    text-decoration-color: #f568bb;
}

.faq-area article {
    max-width: 672px;
    margin: 0 auto;
}

.faq-area article details {
    border: 1px solid #d4c5fe;
    padding: 21px 20px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 35px !important;
}

.faq-area article details:nth-child(6) {
    margin-bottom: 0px;
}

.faq-area article details summary {
    user-select: none;
    font-family: BarlowCondensed-Bold;
    font-size: 26.9px !important;
}

.faq-area article details p {
    margin-top: 15px;
    cursor: default;
    font-size: 17px !important;
    line-height: 26px !important;
    font-family: OpenSans-Regular;
}

.faq-area article details p a {
    width: 110px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d4c5fe;
    border-radius: 6px;
    color: black;
    text-shadow: 1px 1px 0px #fd59fd, -1px 0px 0px #03d904, 2px 2px #dcef00;
    margin: 0 auto;
    margin-top: 18px;
    animation: ButtomAnimation 8s infinite;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: bolder;
    font-family: VCR;
    letter-spacing: 2px;
}

.faq-area article details[open] summary~* {
    animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (min-width: 768px) {
    .faq-area {
        padding-top: 137px;
    }

    .faq-area h1 {
        font-size: 91.42px;
    }

    .faq-descricao {
        margin-top: 76px;
        margin-bottom: 50px;
    }
}