/* Menu */
.menu {
    height: 80px;
    box-shadow: 3px 3px 0px #bdff00;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 100;
    -webkit-tap-highlight-color: transparent;
}

.menu-area {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0px 15px;
    background: rgba(0, 0, 0, 0.3);
}

.menu-sanduiche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row-gap: 6px;
    cursor: pointer;
    /* Adiciona o cursor de pointer */
}

.menu-sanduiche span {
    width: 30px;
    height: 5px;
    background-color: #d4c5fe;
    transition: 0.4s;
    display: block;
    border-radius: 6px;
}

.sanduiche-02 {
    width: 26px !important;
}

.menu-sanduiche.sanduiche .sanduiche-01 {
    transform: translate(0, 11px) rotate(-45deg);
}

.menu-sanduiche.sanduiche .sanduiche-02 {
    opacity: 0;
}

.menu-sanduiche.sanduiche .sanduiche-03 {
    transform: translate(0, -11px) rotate(45deg);
}

.menu-icone a img {
    width: 80px;
    height: 93px;
    filter: drop-shadow(2px 2px 4px black);
}

.menu-social {
    display: none;
}

.menu-pesquisa {
    display: flex;
    align-items: center;
}

.menu-pesquisa i {
    font-size: 30px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .menu-area {
        grid-column-gap: 15px;
        justify-content: flex-start;
    }

    .menu-social {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-column-gap: 15px;
        padding-right: 15px;
    }

    .menu-social a i {
        font-size: 30px;
    }
}

.menu-mobile {
    display: block;
    /* Apenas para garantir que o menu está visível */
}

@media (min-width: 1400px) {
    .menu-area {
        width: 1400px;
        margin: 0 auto;
    }
}

/* Menu Mobile */
.menu-mobile {
    width: 100%;
    display: none;
    position: fixed;
    z-index: 99;
    -webkit-tap-highlight-color: transparent;
}

.menu-mobile.active {
    display: flex;
}

.menu-mobile-area {
    width: 100%;
    height: calc(100vh - 80px);
    position: sticky;
    top: 80px;
    overflow-y: auto;
    /*background-image: url("https://i.imgur.com/rF5sGES.png");*/
    background-color: black;
    padding: 15px;
}

.menu-explorar {
    display: flex;
    flex-direction: column;
}

.menu-explorar h1 {
    font-family: BarlowCondensed-Bold;
    font-size: 50px;
}

.menu-explorar hr {
    margin: 14px 0px 9px 0px;
}

.menu-explorar a {
    font-family: OpenSans-Regular;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.menu-explorar a:hover {
    text-decoration: underline;
    text-decoration-color: #f568bb;
}

.menu-explorar a:last-child {
    margin-bottom: 0px;
}

.menu-series {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.menu-series h1 {
    font-family: BarlowCondensed-Bold;
    font-size: 50px;
}

.menu-series hr {
    margin: 14px 0px 9px 0px;
}

.menu-series a {
    font-family: OpenSans-Regular;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.menu-series a:hover {
    text-decoration: underline;
    text-decoration-color: #f568bb;
}

.menu-series a:last-child {
    margin-bottom: 0px;
}

.menu-ultimas {
    display: none;
}

.menu-roda-pe {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-gap: 10px;
    box-shadow: 6px 6px 0px #f568bb;
    border-radius: 6px;
    margin-top: 20px;
}

.menu-mobile-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column-gap: 10px;
}

.menu-mobile-social a {
    font-size: 25px;
}

.menu-mobile-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column-gap: 11px;
}

.menu-mobile-links a {
    font-family: VCR;
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 14px;
}

.menu-mobile-links a:hover {
    text-decoration-color: #f568bb;
}

@media(min-width:992px) {
    .menu-mobile-bloco {
        display: flex;
        flex-wrap: wrap;
        grid-column-gap: 15px;
    }

    .menu-explorar {
        width: 20%;
    }

    .menu-series {
        width: 20%;
        margin-top: 0px;
    }

    .menu-explorar h1,
    .menu-series h1 {
        margin-left: 0;
    }

    .menu-ultimas {
        width: calc(60% - 30px);
        display: flex;
        grid-column-gap: 15px;
        padding-right: 15px;
    }

    .menu-ultimas div {
        position: relative;
        width: calc(100% / 3);
        height: calc(270px + (314 - 270) * ((100vw - 992px) / (1399 - 992)));
        border-radius: 6px;
        overflow: hidden;
    }

    .menu-ultimas div picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Garante que a imagem cubra todo o espaço do contêiner */
    }

    .menu-ultimas div p {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        color: white;
        z-index: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        margin: 0;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 25%, rgba(122, 121, 121, 0.2) 25%, rgba(122, 121, 121, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, rgba(122, 121, 121, 0.2) 75%, rgba(122, 121, 121, 0.2) 100%);
        background-size: 8.00px 8.00px;
    }

    .menu-ultimas div p span a {
        color: white;
        font-size: 28px;
        font-family: BarlowCondensed-Bold;
        text-decoration: none;
        background: black;
        text-shadow: 4px 4px 0px black;
    }

    .menu-roda-pe {
        width: 100%;
    }
}

@media(min-width:1400px) {
    .menu-mobile-area {
        width: 1400px;
        margin: 0 auto;
    }
}

.menu-ultimas div {
    height: 314.1px;
}

/* Popup Search */
.search-popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(10px);
    opacity: 0;
    /* Inicialmente invisível */
    visibility: hidden;
    /* Inicialmente invisível */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    /* Transição suave */
}

.search-popup-area {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-row-gap: 21px;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    margin-top: 80px;
}

.search-popup-area input:nth-child(1) {
    width: calc(144px + (538.2 - 144) * ((100vw - 240px) / (897 - 240)));
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #d4c5fe;
    color: #d4c5fe;
    padding-bottom: 1px;
    font-family: VCR;
    position: ab;
}

.search-popup-area input:nth-child(2) {
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-family: VCR;
    color: #d4c5fe;
    cursor: pointer;
    position: ab;
}

.search-popup-area input:focus {
    outline: none;
}

.search-popup.visible {
    opacity: 1;
    /* Torna visível */
    visibility: visible;
    /* Torna visível */
}