.newsletter{
	width:calc(100%);
	min-height:calc(160px + (230 - 160) * ((100vw - 320px) / (1399 - 320)));
	display:flex;
	justify-content:center;
	clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
	margin:15px 0px;
	border-radius:6px;
	overflow:hidden;
	background-image: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(122, 121, 121,1) 25%, rgba(122, 121, 121,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 75%, rgba(122, 121, 121,1) 75%, rgba(122, 121, 121,1) 100%);
	background-size: 8.00px 8.00px;
	position: relative; /* Defina para posicionar o conteúdo em cima do vídeo */
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para cobrir todo o espaço do contêiner */
    z-index: -1; /* Para colocar o vídeo atrás do conteúdo */
    opacity:0.9;
    background-image:url('../img/tcs5wn.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

.newsletter-area{
	width:100%;
	max-width:500px;
	grid-row-gap:15px;
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:90px 20px;
}

.newsletter-area figure{}

.newsletter-area figure a img{
	height:90px;
}

.newsletter-area div{}

.newsletter-area div p{
	font-family:OpenSans-Regular;
	font-size:16px;
	text-align:center;
	text-shadow:1px 1px 1px black;
}

.newsletter-area div p span{
	font-weight:bold;
	text-decoration:underline;
}

.newsletter-area div p a{
	font-family:VCR;
	color:#f568bb;
	text-shadow:3px 3px 0px black;
}

.newsletter-area form{
	width:100%;
	display:flex;
	align-items:flex-end;
	flex-wrap:wrap;
	justify-content:center;
	grid-gap:15px;
}

.newsletter-area form input{
	width:100%;
	max-width:278px;
	height:17px;
	border:none;
	border-bottom:2px solid white;
	background:none;
	font-family:VCR;
	color:white;
	text-align:center;
	border-bottom:2px solid white;
}

.newsletter-area form input:focus{
	outline:none;
}

.newsletter-area #enviar{
	width: 110px;
	height: 35px;
	background: #d4c5fe;
	border: none;
	border-radius: 6px;
	box-shadow: 4px 4px 0px black;
	font-family: VCR;
	color: black;
	text-shadow: none;
	font-size: 13px;
	text-shadow: 1px 1px 0px #fd59fd, -1px 0px 0px #03d904, 2px 2px #dcef00;
	cursor: pointer;
	border: 2px solid black;
	padding-bottom: 0px;
	animation: ButtomAnimation 8s infinite;
}

@media(min-width:473px){
	.newsletter-area form input{
		text-align:left;
		padding-bottom:0px;
		grid:none;
	}

	.newsletter-area #enviar{
		text-align:center;
	}
}
