.obrigado-main {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 95%, rgba(255, 255, 255, 0) 95%);
}

.obrigado-area {
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
    padding-top: 110px;
}

.obrigado-area h1 {
    font-family: BarlowCondensed-Bold;
    font-size: 56.97px;
    text-align: center;
    margin-bottom: 52px!important;
}

.obrigado-area p {
    width: 100%;
    max-width: 672px;
    font-family: OpenSans-Regular;
    font-size: 18px;
    line-height: 31px;
    margin: 0 auto;
    margin-bottom:39px;
}

@media (min-width: 768px) {
    .obrigado-area {
        padding-top: 139px;
    }

    .obrigado-area h1 {
        font-size: 91.42px;
        margin-bottom: 72px!important;
    }

    .obrigado-area p {
        margin-bottom: 29px!important;
    }
}