.post{}

.post-area{
    width:100%;
    max-width:1280px;
    display:flex;
    flex-direction:column;
    align-items:center;
    grid-row-gap:30px;
    margin:0 auto;
}

.post-cards{
    width: calc(286.4px + (733.4 - 286.4) * ((100vw - 320px) / (767 - 320)));
    display:none;
}

.post-cards figure{
    width:100%;
    height: calc(161.1px + (240 - 161.1) * ((100vw - 320px) / (767 - 320)));
    border-radius:6px;
    overflow:hidden;
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(122, 121, 121,1) 25%, rgba(122, 121, 121,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 75%, rgba(122, 121, 121,1) 75%, rgba(122, 121, 121,1) 100%);
    background-size: 8.00px 8.00px;
}

.post-cards figure a{}

.post-cards figure a img{
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0.8;
}

.post-cards div{
    display:flex;
    flex-direction:column;
    grid-row-gap:15px;
    margin:15px 0px;
}

.post-cards div a{
    font-family:VCR;
    font-size:16px;
    text-decoration:underline;
    text-decoration-color: #bdff00;
}

.post-cards div h1{}

.post-cards div h1 span{}

.post-cards div h1 span a{
    font-family:BarlowCondensed-Bold;
    font-size:35px;
    text-decoration:none;
}

.post-cards div p{
    font-family:OpenSans-Regular;
    font-size:18px;
}

.post-cards address{
    display:flex;
    align-items:center;
    grid-column-gap:10px;
    font-size:14px;
    font-family:VCR;
}

.post-cards address a{
    display:flex;
    align-items:center;
    grid-column-gap:10px;
}

.post-cards address a img{
    border-radius:1000px;
    height:20px;
}

.post-cards address a p{}

.post-cards address time{}

.post-cards address time a{}

.load-more-area{
    width:100%;
    max-width:1400px;
    display:flex;
    justify-content:center;    
    padding:30px 0px;
    margin:0 auto;
}

.load-more{
    width:calc(100% - 30px);
    max-width:180px;
    height:50px;
    background:none;
    border:3px solid #f568bb;
    border-radius:6px;
    font-family:VCR;
    font-size:20px;
    color:#d4c5fe;
    cursor:pointer;
    text-shadow: 0.5px 0.5px 0px #ff40ff, -0.5px 0px 0px #00e700, 1px 1px #000bfd;
    animation: ButtomAnimation 8s infinite;
    box-shadow:4px 4px 0px #f568bb;
}

/* Definindo a animação */
@keyframes ButtomAnimation {
  0% {
    transform:translateY(0px);
  }
  
  25% {
    transform:translateY(15px);
  }
  
  50% {
    transform:translateY(0px);
  }
  
  75% {
    transform:translateY(15px);
  }

  100% {
    transform:translateY(0px);
  }
}

@media(min-width:768px){
    .post-area{
        flex-direction:row;
        flex-wrap:wrap;
        grid-column-gap:32px;
        padding:0px 15px;
    }

    .post-cards{
        width:calc(50% - 16px);
    }

    .post-cards figure{
        height: calc(197.1px + (240 - 197.1) * ((100vw - 768px) / (991 - 768)));
    }
}

@media(min-width:992px){
    .post-area{
        flex-direction:row;
        flex-wrap:wrap;
    }

    .post-cards{
        width:calc(33.333% - 21.4px);
    }

    .post-cards figure{
        height: calc(167.1px + (221.1 - 167.1) * ((100vw - 992px) / (1399 - 992)));
    }
}

@media(min-width:1280px){
    .post-cards figure{
        height:205px;
    }
}   