.postagem-titulo{
    width:100%;
    height:100vh;
    background-size: cover;
    background-position: center;
    padding-top:82px;
}

.postagem-titulo-area{
    width:100%;
    height:100%;
    display:flex;
    align-items:flex-end;
    justify-content:center;
    padding:0px 15px 55px 15px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 25%, rgba(122, 121, 121, 0.15) 25%, rgba(122, 121, 121, 0.15) 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, rgba(122, 121, 121, 0.15) 75%, rgba(122, 121, 121, 0.15) 100%);
    background-size: 8.00px 8.00px;
}

.postagem-titulo-area div{
    width:100%;
    max-width:510px;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}
        
.postagem-titulo-area div a{
    font-family: BarlowCondensed-SemiBold;
    font-size: calc(32.3px + (34.4 - 32.3) * ((100vw - 240px) / (767 - 240)));
    text-align: center;
    border: 1px solid #bdff00;
    padding: 0px 10px;
    transition: 0.3s;
}

.postagem-titulo-area div a:hover{
    background:#bdff00;
    color:black;
}

.postagem-titulo-area div h1{
    font-size: calc(29px + (49.2 - 29) * ((100vw - 240px) / (767 - 240)));
    font-family: BarlowCondensed-Black;
    margin-top:10px;
}

.postagem{
    width:calc(100% - 30px);
    max-width:670px;
    margin:0 auto;
}
        
.postagem-legenda{
    font-family: VCR;
    font-size: 11px;
    line-height: 20px;
    margin-top: 14px;
}

.postagem-legenda a{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: currentcolor;
    text-decoration-color: #f568bb;
}

.postagem-paragrafo{
    font-family: OpenSans-Regular;
    font-size: 18px;
    line-height: 35px;
    margin-top: 33px;
}

.postagem-autor{
    display: flex;
    align-items: center;
    margin-top: 22px;
}

.postagem-autor img{
    width: 20px;
    height: 20px;
    border-radius: 1000px;
}

.postagem-autor p{
    font-family: VCR;
    font-size: 12px;
    margin-left: 10px;
}

.postagem-compartilhar{
    display: flex;
    grid-column-gap: 10px;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: 20px 0px;
    margin-top: 15px;
    margin-bottom: 28px;
}

.postagem-compartilhar p{
    font-family: OpenSans-Regular;
    font-weight: lighter;
    font-size: 12px;
    text-decoration: underline;
}

#audioplayer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #f568bb;
    border-radius: 6px;
    transition: 0.3s;
}

#pButton {
    height: 60px;
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    outline: none;
}

.play {
    background: url('https://i.imgur.com/TYTK7O5.png');
}

.pause {
    background: url('https://i.imgur.com/BQgrEEp.png');
}

#timeline {
    width: calc(100% - 79px);
    max-width: 670px;
    height: 20px;
    margin-top: 20px;
    float: left;
    border-radius: 15px;
    background: rgba(212, 197, 254, 0.6);
    overflow: hidden;
    position: relative;
}

#playhead {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: 1px;
    background: #f568bb;
    border: px solid black;
    position: absolute;
}

.postagem-texto{
    display: flex;
    flex-direction: column;
    grid-row-gap: 44px;
    padding-top: 41px;
}
        
.postagem-texto p{
    font-family: OpenSans-Regular;
    font-size: 18px;
    line-height: 35px;
}
        
.postagem-texto figure{}
        
.postagem-texto figure img{
    width: 100%;
    border-radius: 6px;
}
        
.postagem-texto figure figcaption{
    font-family: VCR;
    font-size: 11px;
    line-height: 20px;
}

.postagem-texto-video{
    width:100%;
    height:calc(120px + (360 - 120) * ((100vw - 240px) / (767 - 240)));
    border-radius:6px;
    overflow:hidden;
}

.postagem-texto-video iframe{
    width:100%;
    height:100%;
}

.postagem-tags{
    height: 67px;
    display: flex;
    grid-column-gap: ;
    font-family: VCR;
    font-size: 11px;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
    margin-top: 34px;
    padding-top: 10px;
}

.postagem-tags p{
    margin-right: 5px;
}

.postagem-tags a{
    text-decoration: underline;
    margin-right: 8px;
}

@media(min-width:768px){
    .postagem-titulo-area div{
        max-width:720px;
    }

    .postagem-texto-video{
        height:360.45px;
    }
}

@media(min-width:992px){
    .postagem-titulo{
        background-attachment:fixed;
    }

    .postagem-titulo-area div{
        max-width:960px;
    }
}

@media(min-width:1200px){
    .postagem-titulo-area div{
        max-width:1140px;
    }
            
    .postagem-titulo-area div h1{
        font-size: 67px;
    }
}










