.rss-main-p,
.rss-main {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 95%, rgba(255, 255, 255, 0) 95%);
}

.rss-area {
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
    padding-top: 107px;
}

.rss-area h1 {
    font-family: BarlowCondensed-Bold;
    font-size: 56.97px;
    text-align: center;
    margin-bottom: 40px;
}

.rss-area h2 {
    max-width: 672px;
    font-family: BarlowCondensed-Bold;
    font-size: calc(29px + (44 - 29) * ((100vw - 240px) / (672 - 240)));
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 35px;
}

.rss-area p {
    max-width: 672px;
    font-family: OpenSans-Regular;
    font-size: 18px;
    line-height: 31px;
    margin: 0 auto;
    margin-bottom: 37px;
}

.rss-area p:last-child {
    margin-bottom: 0px !important;
}

.rss-area p a {
    text-decoration: underline;
    text-decoration-color: #f568bb;
}

.rss-area p b {
    font-size: 17px;
}

@media(min-width:672px) {
    .rss-area h2 {
        font-size: 44px;
    }
}

@media (min-width: 768px) {
    .rss-area {
        padding-top: 137px;
    }

    .rss-area h1 {
        font-size: 91.42px;
        margin-bottom: 54px;
    }

    .rss-area h2{
        margin-bottom:27px;
    }

    .rss-area p{
        margin-bottom:25px;
    }
}