.search{
  display:flex;
  justify-content:center;
}

.search-input{
  width:calc(100%);
  max-width:512px;
  min-height:60px;
  display:flex;
  border-radius:6px;
  overflow:hidden;
  background:#d4c5fe;
  border-bottom:1.5px solid rgba(1,1,1,0.1);
}

.search-input div{
  width:40px;
  height:100%;
  display:flex;
  justify-content:flex-end;
  align-items:center;
}

.search-input div i{
  font-size:20px;
  cursor:pointer;
  color:black;
  text-shadow: 1px 1px 0px #fd59fd, -1px 0px 0px #03d904, 2px 2px #dcef00;
}

.search-input div i:last-child{
  display:none;
}

#searchInput{
  width:calc(100% - 40px);
  height:100%;
  background:none;
  border:none;
  padding-left:10px;
  color:black;
  font-family:VCR;
  font-size:14px;
  text-shadow: 1px 1px 0px #fd59fd, -1px 0px 0px #03d904, 2px 2px #dcef00;
}

#searchInput:focus{
  outline:none;
}

.search-area{
  width:100%;
  max-width:512px;
  min-height:auto;
  max-height:300px;
  display:flex;
  flex-direction:column;
  margin:0 auto;
  background:rgba(255, 255, 255, 0.0);
  border-radius:0px 0px 6px 6px;
  overflow-y:Scroll;
  background:#d4c5fe;
}

.search-cards,
.search-not{
  min-height:60px;
  display:flex;
  align-items:center;
  padding:0px 25px;
  background:#d4c5fe;
  color:black;
  border-bottom:1.5px solid rgba(1,1,1,0.1);
}