.slide {
    display: flex;
    justify-content: center;
}

.slide-container{
    width: 100%;
    max-width: 400px;
    height: 100vh;
    display: flex;
    grid-column-gap: 15px;
    z-index: 2;
    overflow:hidden;
    border-radius:6px;
}

.slide-cards{
    min-width: 100%;
    height: 100%;
    display:flex;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.1) 25%, rgba(122, 121, 121,0.1) 25%, rgba(122, 121, 121,0.1) 50%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.1) 75%, rgba(122, 121, 121,0.1) 75%, rgba(122, 121, 121,0.1) 100%);
    background-size: 8.00px 8.00px;
}

.slide-cards figure{
    width:100%;
    height:100%;
}

.slide-cards figure img{
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0.7;
    animation: Zoom 5s ease-in-out forwards;
    transform:scale(1.0);
}

@keyframes Zoom{
    from{
        transform:translateY(100px);
        transform:scale(1.2);
    }
    
    to{
        transform:translateY(0px);
        transform:scale(1.0);
    }
}

.slide-cards div{
    width:100%;
    max-width:400px;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    grid-row-gap:20px;
    position:absolute;
    top:0;
    padding:0px 20px;
}

.slide-cards div h1{
    width:100%;
    max-width:300px;
    font-family:BarlowCondensed-Bold;
    font-size:50px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}


.slide-cards div p{
    width:100%;
    max-width:300px;
    font-family:VCR;
    font-size:16px;
    line-height:25px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    transform:translateY(0px);
}

.slide-cards div a{
    width:108px;
    font-family:VCR;
    border:1px solid white;
    animation: fadeIn 2s ease-in-out forwards;
    padding:5px 10px;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform:translateY(100px);
    }
    
    to{
        opacity: 1;
        transform:translateY(0px);
    }
}

.slide-bullets {
    width: 100%;
    max-width: 400px;
    height:10px;
    display: flex;
    justify-content: space-between;
    grid-column-gap: 5px;
    position: absolute;
    z-index: 3;
    padding:10px 10px;
}

.slide-bullets a{
    width:calc(100% / 3);
    height:2px;
    background-color:white;
    display:block;
}

.active {
    background: #bdff00 !important; /* Active color is blue */
}

.slide-button {
    width: 100%;
    max-width: 560px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.slide-button button {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    cursor: pointer;
    border-radius: 6px;
    z-index: 10;
}

.slide-button button i{
    font-weight: bold;
    font-size: large;
    color: rgba(0,0,0,0.8);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}