body {
    background-color: #1b1d20;
}

img {
    display: block;
    max-width: 100%;
}

.slide {
    box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.4);
    display: grid;
    margin: 20px auto;
    max-width: 344px;
}

.slide-items {
    border-radius: 6px;
    grid-area: 1/1;
    overflow: hidden;
    position: relative;
}

.slide-items > * {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.slide-items .active {
    opacity: 1;
    pointer-events: initial;
    position: relative;
}

.slide-text {
    color: white;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.slide-nav {
    display: grid;
    grid-area: 1/1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    z-index: 1;
}

.slide-thumbs {
    display: flex;
    grid-column: 1 / 3;
}

.slide-thumb-item {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    display: block;
    flex: 1;
    height: 3px;
    margin: 5px;
    overflow: hidden;
}

.slide-thumb-item.active::after {
    animation: thumb 5s forwards linear;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    content: '';
    display: block;
    height: inherit;
    transform: translateX(-100%);
}

.slide-next,
.slide-prev {
    opacity: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes thumb {
    to {
        transform: initial;
    }
}