.lading-page-tags {
  width: calc(100% - 30px);
  height: calc(320px + (559.6 - 320) * ((100vw - 320px) / (1399 - 320)));
  margin-top: 30px;
  background-image: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(122, 121, 121,1) 25%, rgba(122, 121, 121,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 75%, rgba(122, 121, 121,1) 75%, rgba(122, 121, 121,1) 100%);
  background-size: 8.00px 8.00px;
  clip-path: polygon(0 calc(4.0% + (18.4 - 4.0) * ((100vw - 360px) / (767 - 360))), 100% 0, 100% calc(96.4% + (81.3 - 96.4) * ((100vw - 360px) / (767 - 360))), 0 100%);
  transform: translateX(15px);
  border-radius: 6px !important;
  overflow: hidden;
}

.lading-page-tags img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  opacity: 0.9;
}

.lading-page-tags-title h1 {
  width: calc(100% - 50px);
  max-width: fit-content;
  height:58px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: VCR !important;
  background: #d4c5fe;
  margin: 0 auto;
  color: black;
  word-break: break-word;
  text-align: center;
  padding: 13px 26px;
  transform:translateY(calc(-30px + (-60 - -30) * ((100vw - 240px) / (1400 - 240))));
}

.lading-page-tags-p {
  font-family: OpenSans-Regular;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  margin-top: -48px;
  padding: 30px 0px;
}

@media (min-width: 768px){
  .lading-page-tags{
    clip-path: polygon(0 calc(6.7% + (14 - 6.7) * ((100vw - 768px) / (991 - 768))), 100% 0, 100% 90%, 0% 100%);
  }
}

@media (min-width: 992px){
  .lading-page-tags{
    clip-path: polygon(0 calc(9.1% + (13.2 - 9.1) * ((100vw - 992px) / (1199 - 992))), 100% 0, 100% calc(91.2% + (86.7 - 91.2) * ((100vw - 992px) / (1199 - 992))), 0% 100%);
  }
}

@media (min-width: 1200px){
  .lading-page-tags{
    clip-path: polygon(0 calc(9.3% + (12 - 9.3) * ((100vw - 1200px) / (1399 - 1200))), 100% 0, 100% calc(90.8% + (88 - 90.8) * ((100vw - 1200px) / (1399 - 1200))), 0% 100%);
  }
}

@media (min-width: 1400px) {
  .lading-page-tags {
    width: 1400px;
    height: 560px;
    margin: 0 auto;
    clip-path: polygon(0 9.9%, 100% 0, 100% 90%, 0% 100%);
  }
}