.todos-story-area {
    display: flex;
    flex-direction: column;
    grid-row-gap: 15px;
    padding: 0px 15px;
}

.todos-story-cards {
    height: calc(520px + (1190 - 520) * ((100vw - 360px) / (767 - 360)));
    display: none;
    align-items: flex-end;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.todos-story-cards figure {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0.85;
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(122, 121, 121,1) 25%, rgba(122, 121, 121,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 75%, rgba(122, 121, 121,1) 75%, rgba(122, 121, 121,1) 100%);
    background-size: 8.00px 8.00px;
    z-index: -1;
}

.todos-story-cards figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.todos-story-cards h1 {
    font-family: BarlowCondensed-Bold;
    font-size: 32px;
    position: absolute;
    z-index: 3;
}

.todos-story-cards h1 span {
    background: black;
}

@media(min-width:768px) {
    .todos-story-area {
        width: 100%;
        max-width: 677px;
        flex-direction: row;
        flex-wrap: wrap;
        grid-column-gap: 15px;
        margin: 0 auto;
        padding: 0px;
    }

    .todos-story-cards {
        width: calc(100% / 3 - 10px);
        height: 338px;
    }
}

@media(min-width:890px) {
    .todos-story-area {
        max-width: 890px;
        padding: 0px 15px;
    }

    .todos-story-cards {
        width: calc(100% / 4 - 12px);
        height: 338px;
    }
}

@media(min-width:992px) {
    .todos-story-area {
        max-width: 918px;
        padding: 0px;
    }

    .todos-story-cards {
        width: calc(100% / 3 - 10px);
        height: 480px;
    }
}

@media(min-width:1200px) {
    .todos-story-area {
        max-width: calc(1140px + (1230 - 1140) * ((100vw - 1200px) / (1230 - 1200)));
        padding: 0px calc(0px + (15 - 0) * ((100vw - 1200px) / (1230 - 1200)));
        ;
    }

    .todos-story-cards {
        width: calc(100% / 4 - 11.3px);
    }
}

@media(min-width:1230px) {
    .todos-story-area {
        max-width: 1230px;
        padding: 0px 15px;
    }
}